<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Integração</title>
    <link rel="stylesheet" type="text/css" href="../static/estilolegal.css">
</head>
<body>
    <form method="post" action="/">
        </br></br></br></br></br></br></br></br></br>
        <label class="usuario" for = "usuario">USUÁRIO: </label>
        <input class="input" type="text" id="usuario" name ="usuario" required>
        </br></br></br>
        <label class="senha" for = "senha">SENHA: </label>
        <input class="input" type="password" id="senha" name ="senha" required>
        </br></br></br></br></br>
        <button type="submit">LOGIN</button>
        </br></br></br></br></br>
            <p>{{mensagem1}}</p>
            <p>{{mensagem2}}</p>
            <p>{{mensagem3}}</p>
            <p>{{mensagem4}}</p>
            <p>{{mensagem5}}</p>
            <p>{{mensagem6}}</p>
            <p>{{mensagem}}</p>
    </form>
</body>
</html>